@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    min-height: 100vh;
    background-color: #FCFBF9;
    font-family: 'Public Sans', sans-serif;
    color: #012332;

}

/* Navigation */

nav {
    background-color: #AED3CD;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 2%; /* temporary ?*/
}

ul {
    display: flex;
    gap: 35%; /* temporary ?*/
    list-style-type: none;
    font-weight: bold;
}

.current_menu {
    border-bottom: solid #F1845C;
    padding-bottom: 3px;
    width: fit-content;
}

/* Hero Content */

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    padding: 60px 60px; /*temporary*/
}

h1 {
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
}

.hero_text h2 {
    font-weight: 300;
}

.hero_text {
    width: 50%;
}

.hero_img {
    width: 40%;
}

.divider {
    background-color: #AED3CD;
    height: 5px;
    margin: 10px 40px;
}

/* About */

.about_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px;
}

.about_img {
    width: 50%;
}

.about_text {
    width: 50%;
}

.underline {
    font-weight: bold;
    border-bottom: 4px solid #F1845C;
    width: fit-content;
    padding-bottom: 3px; 
}

/* Portfolio */

.portfolio_content {
    padding: 60px 60px; /*temporary*/
    margin-bottom: 10%;
}

.portfolio_text {
    margin-bottom: 5%;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10%;
    row-gap: 15%;
}

.grid_text {
    width: 100%;
    text-align: center;
}

.grid_img {
    object-fit: cover;
    border: 3px solid #969615;
    width: 100%;
}

/* Contact */

.contact_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px; /*temporary*/
}

.contact_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact_links {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.email {
    background-color: #F1845C;
    border-style: none;
    border-radius: 2px;
    width: 25%;
    padding: 2px;
}

.contact_img {
    border: 1px solid red;
}

/* Footer */
footer {
    background-color: #AED3CD;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: 300;
}

.orange {
    color: #F1845C;
}


/* Images (temporary)*/
img {
    width: 25%;
}

/* Overlay */
.overlay {
    display: none;
}