@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    height: 100vh;
    background-color: #FCFBF9;
    font-family: 'Public Sans', sans-serif;
    color: #012332;

}

/* Navigation */

nav {
    background-color: #AED3CD;
    height: 8%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    display: flex;
    width: 100vw;
    gap: 35%; /* temporary ?*/
    list-style-type: none;
    font-weight: bold;
}

.active {
    border-bottom: solid #F1845C;
    padding-bottom: 3px;
    width: fit-content;
}

.navigation a {
    text-decoration: none;
}

.navigation a:visited {
    color: #012332;
}

/* Hero Content */

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height: 60vh;*/
    padding: 60px 60px; /*temporary*/
}

h1 {
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
}

.hero_text h2 {
    font-weight: 300;
}

.hero_text {
    width: 50%;
}

.hero_img {
    width: 40%;
}

.divider {
    background-color: #AED3CD;
    height: 5px;
    margin: 0 40px;
}

/* About */

.about_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px;
}

.about_img {
    width: 50%;
}

.about_text {
    width: 50%;
}

.underline {
    font-weight: bold;
    border-bottom: 4px solid #F1845C;
    width: fit-content;
    padding-bottom: 3px; 
}

/* Portfolio */

/*.portfolio_content {
    padding: 60px 60px; /*temporary
    margin-bottom: 10%;
}

.portfolio_text {
    margin-bottom: 5%;
}

/*.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10%;
    row-gap: 15%;
}

.grid_text {
    width: 100%;
    text-align: center;
}

.grid_img {
    object-fit: cover;
    border: 3px solid #969615;
    width: 100%;
}

/* Contact */

.contact_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px; /*temporary*/
}

.contact_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact_links {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


/* Footer */
footer {
    background-color: #AED3CD;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: 300;
}

.orange {
    color: #F1845C;
}


/* Images (temporary)*/
img {
    width: 25%;
}

/* Overlay */
.overlay,
.overlay_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(71, 86, 97, 0.85);
}

.overlay_container {
    display: none;
    background-color: #FCFBF9;
    position: relative;
    width: 50%;
    height: 50%;
    padding: 40px;
}

.overlay_img {
    width: 40%;
}

.overlay_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay_text p {
    text-align: left;
    width: 40%;
}

a {
    color: #F1845C;
}

a:visited{
    color: #969615;
}

a:hover {
    color: #0E6969;
}

.close {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #AED3CD;
    border-style: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}


/* Media Queries */

/* Mobile Style */
@media only screen and (max-width: 400px) {
    /* Navigation */
    nav {
        font-size: 10px;
        padding: 15px;
        height: auto;
    }
    ul {
        width: 100vw;
        gap: 10%;
        flex-wrap: wrap;
    }
    /* Hero Section */
    .hero_content {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    h1{
        font-size: 24px;
        line-height: 30px;
    }
    .hero_text {
        font-size: 12px;
        width: 80%;
    }
    .hero_img {
        width: 80%;
        margin-bottom: 60px;
    }
    /* About Section */
    .about_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        height: 100vh;
    }
    .about_img {
        width: 70%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about_heading {
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .about_text {
        width: 80%;
        margin-bottom: 20px;
        
    }
    .about_text p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    /* Portfolio*/
    .portfolio_content {
        min-height: 100vh;
        padding: 50px;
    }
    .portfolio_heading {
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .grid_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid_img {
        width: 100%;
        object-fit: cover;
        border: 3px solid #969615;
    }
    .grid_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    h3 {
        font-size: 14px;
    }
    .grid_text p {
        font-size: 12px;
    }
    .item {
        margin-bottom: 40px;
    }
    /* Contact */
    .contact_content {
        height: 90vh;
    }
    .contact_heading {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .contact_text p {
        font-size: 14px;
    }
    .contact_img {
        width: 90%;
        margin-top: 40px;
    }
    .github_img {
        width: 60%;
    }
    footer h3 {
        font-size: 12px;
    }
    /* Overlay */
    .overlay_img {
        border: 3px solid #969615;
        object-fit: cover;
        width: 80%;
    }
    .overlay_text h3 {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .overlay_text p {
        margin-bottom: 20px;
        font-size: 12px;
        width: 90%;
    }
    .overlay_container {
        width: 70%;
        padding: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .close {
        width: 5vw;
        height: 5vw;
    }

}